.footer-container{
    height: 10px;
    width: 100%;
    border-top: 3px solid #162f4b;
    position:absolute;
    bottom:20px;
    text-align: center;
    margin: auto;
}
.white-footer-border{
    border-top: 3px solid white;
}
.icons{
    padding-top: 20px;
}
.footer-text{
    padding-top: 20px;
}
@media only screen and (max-width: 700px) {
    .footer-container{
        display: none;
    }
}