.homepage-container{
    padding-top: 5rem;
    height:100vh
}
.Homepage-title{
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 10px;
}
.category-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin: 10px;
  }