.homepage-container{
    padding-top: 5rem;
    min-height:98.5vh;
    display:flex;
    flex-direction: column;

    
}
.Homepage-title{
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 10px;
}
.category-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin: 10px;
  }

  @media only screen and (max-width: 400px) {
    .homepage-container{
    padding-top: 5rem;
    min-height:150vh
}
}